<main class="space-top mx-auto fadeInDown text-center">
  <section [hidden]="hiddenLoginCard" style="padding-top: 3em;"
           [ngClass]="{'fadeInDown': !afficheSpinner, 'fadeOutUp': afficheSpinner}"
           class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-light shadow border-0">
            <div class="card-header bg-white pb-5">


              <div class="text-muted text-center mb-3">
                <small>Connectez vous avec</small>
              </div>
              <div class="btn-wrapper text-center">
                <a class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body ">
              <div class="text-center text-muted mb-4">
                <small style="color: #757072">Ou avec votre compte</small>
              </div>

              <form role="form" [formGroup]="connexionForm">
                <div class="form-group">
                  <label>Login
                    <input class="form-control" placeholder="login" type="text" formControlName="login">
                  </label>
                </div>
                <div class="form-group">
                  <label>Password
                    <input class="form-control" placeholder="Password" type="password" formControlName="password">
                  </label>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label space-top" for=" customCheckLogin"> </label>

                  <span>Se rappelez de moi</span>
                </div>
                <div class="text-center">
                  <button type="submit"
                          (click)="connexionformValidation()"
                          type="button" class="btn btn-primary my-4">Se connecter
                  </button>
                </div>


              </form>

            </div>
            <div class="row">
              <div class="col-6">
                <a class=" btn text-light">
                  <small style="color: #000000 !important;">Mot de passe oublié ?</small>
                </a>
              </div>
              <div class="col-6 text-right">
                <a class=" btn text-light">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="padding-top: 20em;"
       [hidden]="!afficheSpinner" class="align-middle fadeInUp">
    <div class="mx-auto sbl-seven-circles">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</main>


<!--<pre class="jumbotron">{{newUser | json}}</pre>-->



