<nav class="sticky navbar navbar-expand-lg navbar-light bg-light">
  <a class="btn btn-sm btn-primary" style="color: #ffffff">JAN CV </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" [routerLink]="['/accueil']">Accueil</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/accueil/curriculum']">curriculum</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/accueil/slide']">slide</a>
        </div>
      </li>
    </ul>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <!-- Icon dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false">
              <i class="united kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" ><i class="united kingdom flag"></i>English
                  <i class="fa fa-check text-success ml-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li><a class="dropdown-item" ><i class="poland flag"></i>Polski</a></li>
              <li><a class="dropdown-item" ><i class="china flag"></i>中文</a></li>
              <li><a class="dropdown-item" ><i class="japan flag"></i>日本語</a></li>
              <li><a class="dropdown-item" ><i class="germany flag"></i>Deutsch</a></li>
              <li><a class="dropdown-item" ><i class="france flag"></i>Français</a></li>
              <li><a class="dropdown-item" ><i class="spain flag"></i>Español</a></li>
              <li><a class="dropdown-item" ><i class="russia flag"></i>Русский</a></li>
              <li><a class="dropdown-item" ><i class="portugal flag"></i>Português</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="form-inline my-2 my-lg-0" style="padding-right: 5px">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/layout']">Dashboard
        <span class="sr-only">(current)</span></button>
    </div>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="deconnexion()">Déconnexion</button>
    </div>


  </div>
</nav>

