<div class="container-fluid">
  <div class="col-lg-12">
    <h1 class="jumbotron">loader</h1>
  </div>

  <div class="jumbotron" style="background-color: #0b1526; color: #FFFFFF">
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.login}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.token}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.password}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.message}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.nom}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.prenom}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.email}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.metier}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.age}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.pays}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.description}}</p>
    <p style="padding: 5px; background-color: #0a442c; color: #FFFFFF">{{dataRecup.avatar}}</p>
  </div>


  <button (click)="actionApi()">action</button>

  <div *ngFor="let item of afficheTab | async; index as i">
    <p>{{item.name}}</p>
  </div>

  <div><code>observable|async</code>: Time: {{ time | async }}</div>

</div>
