/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '~jasmine-core/lib/jasmine-core/jasmine.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}


















