<footer class="page-footer font-small"
        style="background-color: #f8f9fa;
        bottom : 0;
        width: 100%;
        color: #305b7f">
  <div class="footer-copyright text-center py-3">© 2020 Copyright: janmichel
  </div>
</footer>







